<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012274455424-kkk55cmpea29794gc875kt44rrfat3bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012274455424-kkk55cmpea29794gc875kt44rrfat3bv</string>
	<key>API_KEY</key>
	<string>AIzaSyCQYUGuNBfs5DsKDngoe8-fU5uY4Gs-khE</string>
	<key>GCM_SENDER_ID</key>
	<string>1012274455424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ninaTask</string>
	<key>PROJECT_ID</key>
	<string>tasknina-f0977</string>
	<key>STORAGE_BUCKET</key>
	<string>tasknina-f0977.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012274455424:ios:f1cba4b8a34b76218c5765</string>
</dict>
</plist>